<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Article Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="savedArticles" href="/saved">Saved Articles</a>
      <button class="nav-item nav-link" id="scrapeArticles">Scrape New Articles</button>
      <button class="nav-item nav-link" id="clearArticles">Clear Articles</button>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Article Scraper</h1>
    <p class="lead">New York Times Edition</p>
  </div>
</div>

<div class="container">
  <div class="row" id="articleInput">
    {{#each articles}}
    <div class="card">
      <h5 class="card-header" id="title">
        <a href="{{link}}">{{title}}</a>
      </h5>

      <button data-articleid="{{_id}}" class="saveArticle">Save Article</button>

      <div class="card-body">
        <p class="card-text" id="summary">{{summary}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>